* {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  font-size: larger;
  display: flex;
  flex: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20.5rem;
  height: 100vh;
  padding-bottom: 10rem;
}

.title {
  display: inline-flex;
  text-align: left;
  padding-bottom: 1rem;
}

.links {
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
  word-break: break-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.links p,
.links a {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.links li:hover * {
  background-color: white;
  color: black;
}

.crypto:hover {
  text-decoration: underline;
  cursor: pointer;
}

.green {
  color: #24d824;
}

/* blinking cursor animation */
.blink {
  width: 20px;
  height: 30px;
  margin-left: 10px;
  background-color: #ffffff;
  animation: blink-animation 1.5s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
